<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Xpd_Paybras>
            <version>1.0.0</version>
        </Xpd_Paybras>
    </modules>
    <global>
        <models>
            <paybras>
                <class>Xpd_Paybras_Model</class>
            </paybras>
        </models>
        <resources>
            <paybras_setup>
                <setup>
                    <module>Xpd_Paybras</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybras_setup>
            <paybras_write>
                <use>core_write</use>
            </paybras_write>
            <paybras_read>
                <use>core_read</use>
            </paybras_read>
        </resources>
        <blocks>
            <paybras>
                <class>Xpd_Paybras_Block</class>
            </paybras>
        </blocks>
        <helpers>
            <paybras>
                <class>Xpd_Paybras_Helper</class>
            </paybras>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <encargo>
                        <class>paybras/total_encargo</class>
                        <after>subtotal, tax</after>
                        <before>grand_total</before>
                    </encargo>
                </totals>
            </quote>
        </sales>
        <paybras>
            <cc>
                <types>
                    <visa>
                        <code>visa</code>
                        <name>Visa</name>
                        <order>0</order>
                    </visa>
                    <mastercard>
                        <code>mastercard</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </mastercard>
                    <amex>
                        <code>amex</code>
                        <name>American Express</name>
                        <order>30</order>
                    </amex>
                    <diners>
                        <code>diners</code>
                        <name>Diners Club</name>
                        <order>40</order>
                    </diners>
                    <elo>
                        <code>elo</code>
                        <name>ELO</name>
                        <order>50</order>
                    </elo>
                    <simulacao>
                        <code>simulacao</code>
                        <name>Simulacao</name>
                        <order>60</order>
                    </simulacao>
                    <!--hiper>
                        <code>hiper</code>
                        <name>Hipercard</name>
                        <order>70</order>
                    </hiper-->
                </types>
            </cc>
        </paybras>
        <events>
            <sales_quote_save_before>
                <observers>
                    <xpd_paybras_model_observer>
                        <type>singleton</type>
                        <class>Xpd_Paybras_Model_Observer</class>
                        <method>updateParcelamento</method>
                    </xpd_paybras_model_observer>
                </observers>
            </sales_quote_save_before>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <xpd_paybras_model_observer>
                        <type>singleton</type>
                        <class>Xpd_Paybras_Model_Observer</class>
                        <method>updateParcelamento</method>
                    </xpd_paybras_model_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Xpd_Paybras>
                    <files>
                        <default>Xpd_Paybras.csv</default>
                    </files>
                </Xpd_Paybras>
            </modules>
        </translate>
        <routers>
            <paybras>
                <use>standard</use>
                <args>
                    <module>Xpd_Paybras</module>
                    <frontName>paybras</frontName>
                </args>
            </paybras>
        </routers>
        <layout>
            <updates>
                <paybras>
                    <file>paybras.xml</file>
                </paybras>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <paybras>
                <active>1</active>
                <model>paybras/standard</model>
                <title>Paybras</title>
                <installments>1</installments>
                <cctypes>visa,mastercard,elo,amex,diners</cctypes>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
                <allvalidation>0</allvalidation>
            </paybras>
        </payment>
    </default>
</config>

