<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <paybrasmsgs translate="label">
                    <label>Paybras Mensagens</label>
                    <sort_order>9999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <telinvalid translate="label">
                            <label>Telefone Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </telinvalid>
                        <cpfinvalid translate="label">
                            <label>CPF Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </cpfinvalid>
                        <addressinvalid translate="label">
                            <label>Endereço Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </addressinvalid>
                        <cepinvalid translate="label">
                            <label>CEP Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </cepinvalid>
						<emailinvalid translate="label">
                            <label>E-mail Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </emailinvalid>
						<celinvalid translate="label">
                            <label>Celular Inválido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </celinvalid>
						<dobinvalid translate="label">
                            <label>Data de Nascimento Inválida</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </dobinvalid>
                    </fields>
                </paybrasmsgs>
            </groups>
        </payment>
    </sections>
</config>

