<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Xpd_Paybrasweb>
            <version>1.0.0</version>
        </Xpd_Paybrasweb>
    </modules>
    <global>
        <models>
            <paybrasweb>
                <class>Xpd_Paybrasweb_Model</class>
            </paybrasweb>
        </models>
        <resources>
            <paybrasweb_setup>
                <setup>
                    <module>Xpd_Paybrasweb</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybrasweb_setup>
            <paybrasweb_write>
                <use>core_write</use>
            </paybrasweb_write>
            <paybrasweb_read>
                <use>core_read</use>
            </paybrasweb_read>
        </resources>
        <blocks>
            <paybrasweb>
                <class>Xpd_Paybrasweb_Block</class>
            </paybrasweb>
        </blocks>
        <helpers>
            <paybrasweb>
                <class>Xpd_Paybrasweb_Helper</class>
            </paybrasweb>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Xpd_Paybrasweb>
                    <files>
                        <default>Xpd_Paybras.csv</default>
                    </files>
                </Xpd_Paybrasweb>
            </modules>
        </translate>
        <routers>
            <paybrasweb>
                <use>standard</use>
                <args>
                    <module>Xpd_Paybrasweb</module>
                    <frontName>paybrasweb</frontName>
                </args>
            </paybrasweb>
        </routers>
        <layout>
            <updates>
                <paybrasweb>
                    <file>paybrasweb.xml</file>
                </paybrasweb>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <paybrasweb>
                <active>1</active>
                <model>paybrasweb/standard</model>
                <title>Paybras Web</title>
                <installments>1</installments>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
            </paybrasweb>
        </payment>
    </default>
</config>

