<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Xpd_Paybrastef>
            <version>1.0.0</version>
        </Xpd_Paybrastef>
    </modules>
    <global>
        <models>
            <paybrastef>
                <class>Xpd_Paybrastef_Model</class>
            </paybrastef>
        </models>
        <resources>
            <paybrastef_setup>
                <setup>
                    <module>Xpd_Paybrastef</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybrastef_setup>
            <paybrastef_write>
                <use>core_write</use>
            </paybrastef_write>
            <paybrastef_read>
                <use>core_read</use>
            </paybrastef_read>
        </resources>
        <blocks>
            <paybrastef>
                <class>Xpd_Paybrastef_Block</class>
            </paybrastef>
        </blocks>
        <helpers>
            <paybrastef>
                <class>Xpd_Paybrastef_Helper</class>
            </paybrastef>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Xpd_Paybrastef>
                    <files>
                        <default>Xpd_Paybras.csv</default>
                    </files>
                </Xpd_Paybrastef>
            </modules>
        </translate>
        <routers>
            <paybrastef>
                <use>standard</use>
                <args>
                    <module>Xpd_Paybrastef</module>
                    <frontName>paybrastef</frontName>
                </args>
            </paybrastef>
        </routers>
        <layout>
            <updates>
                <paybrastef>
                    <file>paybrastef.xml</file>
                </paybrastef>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <paybrastef>
                <active>1</active>
                <model>paybrastef/standard</model>
                <title>Paybras Tef</title>
                <teftypes>tef_bb,tef_bradesco,tef_itau</teftypes>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
				<texttef>Após a confirmação do pedido você será redirecionado para o site do seu Banco</texttef>
            </paybrastef>
        </payment>
    </default>
</config>

