<?xml version="1.0"?>
<config>
    <tabs>
        <iwd>
            <label>One Step Checkout Brasil</label>
            <sort_order>200</sort_order>
        </iwd>
    </tabs>
    <sections>
        <onepagecheckout translate="label" module="onepagecheckout">
            <label><![CDATA[ <div style="height: 33px; "><img src="http://onestepcheckout.com.br/img/cartOSC.png" style="float:left; "/><div style="padding-top:8px; width: 220px">&nbsp;One Step Checkout Pro</div></div>]]></label>
            <tab>iwd</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="core">
                    <label>Conf Geral</label>
    				 <comment>
    				 	<![CDATA[
    				 	<div>
                            <br style="clear: both;"/>
    					 	<a style="width: 439px; height: 88px; display: block; float: left" href="http://onestepcheckout.com.br" target="_blank" style="float: left;"><img src="http://onestepcheckout.com.br/img/osc-brasil-adm.png" /></a>
                            <div style="width: 439px; height: 88px; display: block; float: left; padding-left: 35px; padding-top:37px">
                                <label style="font-size: 34px">Vers&atilde;o: <strong>PRO V4.0.2</strong></label>
                            </div>

                            <br style="clear: both;"/>

                            <hr>
                            <!--
                            <br /><br />
    					 	<p>
    						 	Conhe&ccedil;a o Projeto OSC-Magento-Brasil. O m&oacute;dulo One Step Checkout normatizado para a localiza&ccedil;&atilde;o brasileira, &eacute; gratuito e funciona nas vers&otilde;es acima de 1.4 do Magento! O Checkout em Um Passo &eacute; oque faltava para a comunidade brasileira Magento.
                                <br /><br />
    						 	<h2>Mantido por: <a href="http://www.deivison.com.br/" target="_blank">Deivison Arthur</a> e <a href="http://www.xpdev.com.br/" target="_blank">Denis Colli Spalenza</a></h2>
    						</p>
                            <br /><br />
                                 <h2>GOSTOU DO MODULO?</h2>
                                 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br />
                                 Se voce gostou, se foi util para voce, se fez voce economizar aquela grana pois estava prestes a pagar caro por aquele modulo pago, pois não achava uma<br />
                                 solucao gratuita que te atendesse e queira prestigiar o trabalho feito efetuando uma doacao de qualquer valor, não vou negar e vou ficar grato! voce<br />
                                 pode fazer isso visitando a pagina do projeto em: <a href="http://onestepcheckout.com.br" target="_blank">http://onestepcheckout.com.br</a><br />
                                 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                            <br /><br />
                            Atencao! Habilite como opcional os campos Data Nascimento, Sexo e Taxvat em System/Configuration/Customer Configuration/Name and Address Options
                            <br /><br /><hr>
                            -->
    				 	</div>
    				 	]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="core">
                            <label>Módulo OSC Habilitado?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <jquery translate="label" module="onepagecheckout">
                            <label>Permitir biblioteca Jquery no OSC?</label>
                            <comment>Obs: A biblioteca jquery roda em modo no conflict ($j). Ao desativar essa biblioteca desativara também os scripts complementares do formulário, como busca Ajax!</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </jquery>
                        <tracoativo translate="label" module="onepagecheckout">
                            <label>Permitir formatação do campo CEP?</label>
                            <comment>Obs: Coloca o "-" no CEP, porém se estiver trabalhando com o módulo Matrix Rates não trabalhar com o "-"</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tracoativo>
                        <title translate="label" module="cms">
                            <label>Título da página</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <payment_method translate="label" module="onepagecheckout">
                            <label>Método de pagamento default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allmethods</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_method>
                        <country translate="label" module="onepagecheckout">
                            <label>País Default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <guest_checkout translate="label" module="checkout">
                            <label>Permintir compras por anônimo?</label>
                            <comment>Ou seja, o usuário podera efetuar compras sem a necessidade de se cadastrar. Obs: Recomendo sempre cadastrar o usuário, ou seja, setar que não permite compras por anônimo!</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </guest_checkout>
                        <!--taxvat translate="label" module="onepagecheckout">
                            <label>Campo CPF/CNPJ pelo TaxVat</label>
                            <comment>Caso haja a necessidade de usar o CPF/CNPJ pelo campo Taxvat coloque SIM. OSB: Recomenda-se não utilizar o Taxvat mas sim o campo criado para esse fim</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </taxvat-->


                        <analytics translate="label" module="cms">
                            <label>Código do Analytics para rastreamento no OSC</label>
							<comment>Insira seu código do Analytics aqui para habilitar track pageview nos campos do OSC.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </analytics>

                        <shipping_address translate="label" module="onepagecheckout">
                            <label>Permitir entregar em outro endereço?</label>
                            <comment>Válido somente para compras por pessoa física</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_address>


                        <comment translate="label" module="onepagecheckout">
                            <label>Permitir comentários?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </comment>

                    </fields>
                </general>

<!-- Parte 2 ============== -->

                <address_form translate="label comment">
                    <label>Configuração do OSC(Billing e Shipping)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <sexo translate="label" module="checkout">
                            <label>Sexo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onepagecheckout_adminhtml/system_config_source_addressOptions</source_model>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sexo>
                        <aniversario translate="label" module="checkout">
                            <label>Data de Aniversário</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onepagecheckout_adminhtml/system_config_source_addressOptions</source_model>
                            <sort_order>92</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </aniversario>

                        <phone translate="label" module="checkout">
                            <label>Telefone</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onepagecheckout_adminhtml/system_config_source_addressOptions</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone>
                        <celular translate="label" module="checkout">
                            <label>Celular</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onepagecheckout_adminhtml/system_config_source_addressOptions</source_model>
                            <sort_order>111</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </celular>
                     </fields>
                </address_form>


                <agreements translate="label" module="checkout">
                    <label>Termos e Condições</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Terms and Conditions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <output translate="label" module="onepagecheckout">
                            <label>Output Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onepagecheckout_adminhtml/system_config_source_agreementOptions</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </output>
                    </fields>
                </agreements>

            </groups>
        </onepagecheckout>
    </sections>
</config>