<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Xpd_Paybrasboleto>
            <version>1.0.0</version>
        </Xpd_Paybrasboleto>
    </modules>
    <global>
        <models>
            <paybrasboleto>
                <class>Xpd_Paybrasboleto_Model</class>
            </paybrasboleto>
        </models>
        <resources>
            <paybrasboleto_setup>
                <setup>
                    <module>Xpd_Paybrasboleto</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybrasboleto_setup>
            <paybrasboleto_write>
                <use>core_write</use>
            </paybrasboleto_write>
            <paybrasboleto_read>
                <use>core_read</use>
            </paybrasboleto_read>
        </resources>
        <blocks>
            <paybrasboleto>
                <class>Xpd_Paybrasboleto_Block</class>
            </paybrasboleto>
        </blocks>
        <helpers>
            <paybrasboleto>
                <class>Xpd_Paybrasboleto_Helper</class>
            </paybrasboleto>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Xpd_Paybrasboleto>
                    <files>
                        <default>Xpd_Paybras.csv</default>
                    </files>
                </Xpd_Paybrasboleto>
            </modules>
        </translate>
        <routers>
            <paybrasboleto>
                <use>standard</use>
                <args>
                    <module>Xpd_Paybrasboleto</module>
                    <frontName>paybrasboleto</frontName>
                </args>
            </paybrasboleto>
        </routers>
        <layout>
            <updates>
                <paybrasboleto>
                    <file>paybrasboleto.xml</file>
                </paybrasboleto>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <paybrasboleto>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <model>paybrasboleto/standard</model>
                <title>Paybras Boleto</title>
                <installments>1</installments>
                <cctypes>visa,mastercard,elo,amex,diners</cctypes>
                <teftypes>tef_bb,tef_bradesco,tef_itau</teftypes>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
                <allvalidation>0</allvalidation>
				<textboleto>Após a confirmação do pedido você poderá gerar e imprimir seu boleto</textboleto>
				<texttef>Após a confirmação do pedido você será redirecionado para o site do Banco do Brasil</texttef>
            </paybrasboleto>
        </payment>
    </default>
</config>

